---
import type { CollectionEntry } from "astro:content";

import type { Element } from "@/data";

import { getFormattedDate } from "@/utils";
type Props = {
  post: CollectionEntry<"post">;
  withDesc?: boolean;
} & Element;

const { post, as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<time datetime={datetime}>{postDate}</time>
<Element>
  <a href={`/posts/${post.slug}`} rel="prefetch">
    {post.data.title}
  </a>
</Element>
{withDesc && <q>{post.data.description}</q>}
